---
import PostCard from "../components/PostCard.astro";
import LinkButton from "../components/LinkButton.astro";
import { slugifyStr } from "../utils/slugify";
import type { CollectionEntry } from "astro:content";

export interface Props {
  pageNum: number;
  totalPages: number;
  posts: CollectionEntry<"posts">[];
}

const { pageNum, totalPages, posts } = Astro.props;

const prev = pageNum > 1 ? "" : "disabled";
const next = pageNum < totalPages ? "" : "disabled";
---

<div>
  <h1 class="mt-7 text-3xl font-medium">Posts</h1>
  <div class="mt-4 text-sm flex flex-col space-y-4">
    <p>This is a place where I share my thoughts and notes about things I'm excited about and working on with the hopes of connecting with people having a similar mindset.</p>
    <p>Check out my latest blog posts below 👇</p>
  </div>
  <div class="my-12 flex flex-col space-y-6">
    {
      posts.map(({ data }) => (
        <PostCard href={`/posts/${slugifyStr(data.title)}`} title={data.title} publishedAt={data.publishedAt} fullWidth />
      ))
    }
  </div>
  <div>
    {
      totalPages > 1 && (
        <nav class="mt-auto mb-10 flex justify-center" aria-label="Pagination">
          <LinkButton
            noDecorate
            target={"_self"}
            disabled={prev === "disabled"}
            href={`/posts${pageNum - 1 !== 1 ? "/" + (pageNum - 1) : ""}`}
            className={`mr-4 select-none ${prev}`}
            ariaLabel="Previous"
          >
            <div class="flex items-center">
              <svg
                class="dark:fill-white"
                width="24"
                height="24"
                xmlns="http://www.w3.org/2000/svg"
                class={`${prev}-svg`}
              >
                <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z" />
              </svg>
              <p>Prev</p>
            </div>
          </LinkButton>
          <LinkButton
            noDecorate
            target={"_self"}
            disabled={next === "disabled"}
            href={`/posts/${pageNum + 1}`}
            className={`ml-4 select-none ${next}`}
            ariaLabel="Next"
          >
            <div class="flex items-center">
              <p>Next</p>
              <svg
                class="dark:fill-white"
                width="24"
                height="24"
                xmlns="http://www.w3.org/2000/svg"
                class={`${next}-svg`}
              >
                <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
              </svg>
            </div>
          </LinkButton>
        </nav>
      )
    }
  </div>
</div>

<style>
  .disabled {
    @apply pointer-events-none select-none opacity-50;
  }
  .disabled-svg {
    @apply group-hover:!fill-[rgb(33,39,55)];
  }
</style>
