---
export type Socials = "facebook" | "twitter" | "linkedin" | "reddit" | "email";

export interface Props {
    title?: string;
    description?: string;
    siteName?: string;
    author?: string;
    url?: string;
    tweet_text?: string;
    hashtags?: string;
    body?: string;
}

const { title, description, siteName, author, url, tweet_text = "Hi there, I wrote an article on: ", hashtags = "web-development,self-learning,computer-science", body = "Hi! I saw this article and thought it was pretty good. You can take a look at it:  "} = Astro.props;
---

<div>
    <button id="social-share-btn" class="appearance-none flex items-center space-x-2 px-2 py-1 rounded-lg bg-gray-100 dark:bg-neutral-900/80">
        <span>Share this article</span>
        <svg class="dark:fill-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M11 6.914V2.586L6.293 7.293l-3.774 3.774 3.841 3.201L11 18.135V13.9c8.146-.614 11 4.1 11 4.1 0-2.937-.242-5.985-2.551-8.293C16.765 7.022 12.878 6.832 11 6.914z"/></svg>
    </button>
    <div id="social-share" class="hidden">
        <div class="flex items-center space-x-4 mt-4 animate-social transition-opacity">
            <a 
                class="unset"
                title="Share by Facebook" 
                href={`https://www.facebook.com/sharer/sharer.php?u=${url}`}
            >
                <svg class="dark:fill-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M13.397 20.997v-8.196h2.765l.411-3.209h-3.176V7.548c0-.926.258-1.56 1.587-1.56h1.684V3.127A22.336 22.336 0 0 0 14.201 3c-2.444 0-4.122 1.492-4.122 4.231v2.355H7.332v3.209h2.753v8.202h3.312z"/></svg>
            </a>
            <a 
                class="unset"            
                title="Share by Twitter" 
                href={`https://twitter.com/intent/tweet?url=${url}&text=${tweet_text + title + ". I will appreciate it if you give it a read, react, and comment. Thank you!"}&via=${author}&hashatgs=${hashtags}`}
            >
                <svg class="dark:fill-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M19.633 7.997c.013.175.013.349.013.523 0 5.325-4.053 11.461-11.46 11.461-2.282 0-4.402-.661-6.186-1.809.324.037.636.05.973.05a8.07 8.07 0 0 0 5.001-1.721 4.036 4.036 0 0 1-3.767-2.793c.249.037.499.062.761.062.361 0 .724-.05 1.061-.137a4.027 4.027 0 0 1-3.23-3.953v-.05c.537.299 1.16.486 1.82.511a4.022 4.022 0 0 1-1.796-3.354c0-.748.199-1.434.548-2.032a11.457 11.457 0 0 0 8.306 4.215c-.062-.3-.1-.611-.1-.923a4.026 4.026 0 0 1 4.028-4.028c1.16 0 2.207.486 2.943 1.272a7.957 7.957 0 0 0 2.556-.973 4.02 4.02 0 0 1-1.771 2.22 8.073 8.073 0 0 0 2.319-.624 8.645 8.645 0 0 1-2.019 2.083z"/></svg>
            </a>
            <a 
                class="unset"            
                title="Share by Linkedin" 
                href={`https://www.linkedin.com/shareArticle?url=${url}&title=${title}&source=${siteName}&summary=${description}&mini=true`}
            >
                <svg class="dark:fill-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><circle cx="4.983" cy="5.009" r="2.188"/><path d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"/></svg>
            </a>
            <a 
                class="unset"            
                title="Share by Reddit" 
                href={`https://reddit.com/submit?url=${url}&title=${title}&resubmit=true`}
            >
                <svg class="dark:fill-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><circle cx="9.67" cy="13" r="1.001"/><path d="M14.09 15.391A3.28 3.28 0 0 1 12 16a3.271 3.271 0 0 1-2.081-.63.27.27 0 0 0-.379.38c.71.535 1.582.809 2.471.77a3.811 3.811 0 0 0 2.469-.77v.04a.284.284 0 0 0 .006-.396.28.28 0 0 0-.396-.003zm.209-3.351a1 1 0 0 0 0 2l-.008.039c.016.002.033 0 .051 0a1 1 0 0 0 .958-1.038 1 1 0 0 0-1.001-1.001z"/><path d="M12 2C6.479 2 2 6.477 2 12c0 5.521 4.479 10 10 10s10-4.479 10-10c0-5.523-4.479-10-10-10zm5.859 11.33c.012.146.012.293 0 .439 0 2.24-2.609 4.062-5.83 4.062s-5.83-1.82-5.83-4.062a2.681 2.681 0 0 1 0-.439 1.46 1.46 0 0 1-.455-2.327 1.458 1.458 0 0 1 2.063-.063 7.145 7.145 0 0 1 3.899-1.23l.743-3.47v-.004A.313.313 0 0 1 12.82 6l2.449.49a1.001 1.001 0 1 1-.131.61L13 6.65l-.649 3.12a7.123 7.123 0 0 1 3.85 1.23 1.46 1.46 0 0 1 2.469 1c.01.563-.307 1.08-.811 1.33z"/></svg>
            </a>
            <a 
                class="unset"            
                title="Share by Email" 
                href={`mailto:?subject=${title}&body=${body + url}`}
            >
                <svg class="dark:fill-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M20 4H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm0 4.7-8 5.334L4 8.7V6.297l8 5.333 8-5.333V8.7z"/></svg>
            </a>
            <a 
                class="unset"            
                title="Share link to article" 
                href={`${url}`}
            >
                <svg class="dark:fill-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M8.465 11.293c1.133-1.133 3.109-1.133 4.242 0l.707.707 1.414-1.414-.707-.707c-.943-.944-2.199-1.465-3.535-1.465s-2.592.521-3.535 1.465L4.929 12a5.008 5.008 0 0 0 0 7.071 4.983 4.983 0 0 0 3.535 1.462A4.982 4.982 0 0 0 12 19.071l.707-.707-1.414-1.414-.707.707a3.007 3.007 0 0 1-4.243 0 3.005 3.005 0 0 1 0-4.243l2.122-2.121z"/><path d="m12 4.929-.707.707 1.414 1.414.707-.707a3.007 3.007 0 0 1 4.243 0 3.005 3.005 0 0 1 0 4.243l-2.122 2.121c-1.133 1.133-3.109 1.133-4.242 0L10.586 12l-1.414 1.414.707.707c.943.944 2.199 1.465 3.535 1.465s2.592-.521 3.535-1.465L19.071 12a5.008 5.008 0 0 0 0-7.071 5.006 5.006 0 0 0-7.071 0z"/></svg>
            </a>
        </div>
    </div>
</div>

<script>
    const ssb = document.querySelector('#social-share-btn');
    const ssm = document.querySelector('#social-share');
    ssb?.addEventListener('click', () => { ssm?.classList.toggle('hidden') })
</script>

<style>
    .animate-social {
        animation: fadeIn 1s;
    }

    @keyframes fadeIn {
        50% {
            opacity: 0.75;
        }

        75% {
            opacity: 0.9;
        }

        to {
            opacity: 1;
        }
    }
</style>