---
import { SITE_TITLE, SITE_CDN } from "../consts";
import BaseHead from "../components/BaseHead.astro";
import PageLayout from "./PageLayout.astro";

export interface Props {
  frontmatter: {
    title: string;
    description: string;
    heroImage?: string;
  };
}

const { frontmatter } = Astro.props;

const ogImage = SITE_CDN + 'social-share.png';
const heroImage = SITE_CDN + frontmatter.heroImage
---

<PageLayout>
  <BaseHead
    title={`About | ${SITE_TITLE}`}
    description={frontmatter.description}
    image={ogImage}
  />
  <Fragment slot="main">
    <div class="mt-10 lg:mt-20">
      <section id="about" class="mb-28 max-w-3xl prose-img:border-0">
        <button
          class="focus-outline mb-3 flex items-center hover:opacity-75"
          onclick="goback()"
        >
          <svg
            class="dark:fill-white"
            width="24"
            height="24"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
            ></path>
          </svg>
          <span>Go back</span>
        </button>
        <h1 class="text-2xl tracking-wider sm:text-3xl font-semibold">{frontmatter.title}</h1>
        <img
          class="my-6 rounded-lg"
          src={heroImage}
          alt="Daniel Brai"
        />
        <slot />
      </section>
    </div>
  </Fragment>
</PageLayout>

<script>
  const ps = document.querySelectorAll("p");
  ps.forEach((p) => {
    p.style.marginBottom = "16px";
  });
  function goback() {
    try {
      window.history.go(-1);
    } catch(e) {
      window.location.href = '/';
    }
  }
</script>
