---
import BaseHead from "../components/BaseHead.astro";
import Comments from "../components/Comments.astro";
import DateTime from "../components/DateTime.astro";
import PageLayout from "./PageLayout.astro";

import type { CollectionEntry } from "astro:content";

export interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;

const { title, description, heroImage, ogImage, projectSlug } = project.data;

const slug = projectSlug || project.slug;

const { Content } = await project.render();

const ogUrl = new URL(`/projects/${slug}`, Astro.url.origin).href;
---

<PageLayout>
  <BaseHead
    title={`${title} | Projects - Daniel Brai`}
    description={description}
  />
  <Fragment slot="main">
    <section class="relative">
      <button 
        onclick="document.querySelector('html').scrollIntoView({ behaviour: 'smooth' })" 
        title="Scroll to top" 
        id="stt-btn"
        class="p-1 border border-gray-800 dark:border-white fixed bottom-10 right-2 rounded-lg sm:right-4 md:right-10 z-20"
      >
        <svg class="dark:fill-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M13 18v-6h5l-6-7-6 7h5v6z"/></svg>
      </button>
      <button
        class="focus-outline mt-8 mb-3 flex items-center hover:opacity-75"
        onclick="history.back()"
      >
        <svg
          class="dark:fill-white"
          width="24"
          height="24"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
          ></path>
        </svg>
        <span>Go back</span>
      </button>
      <div>
        <h1 class="post-title">{title}</h1>
        <div class="mt-5">
          <img
            src={heroImage}
            alt={`${title} Project's Hero Image`}
            loading="eager"
          />
          <span
            title={`${title} description`}
            class="mx-auto mt-3 rounded-lg bg-gray-100 px-3 py-1.5 text-center text-sm dark:bg-neutral-900"
            >/**{description}**/</span
          >
        </div>
        <article id="article" role="article" class="mt-9">
          <Content />
        </article>
      </div>
    </section>
    <section class="my-8" id="comments">
      <Comments />
    </section>
  </Fragment>
</PageLayout>

<script is:inline>
  const ps = document.querySelectorAll("p");
  ps.forEach((p) => {
    p.style.marginBottom = "16px";
  });
  const h2s = document.querySelectorAll("h2");
  h2s.forEach((h) => {
    h.style.marginBottom = "6px";
    h.style.fontSize = "24px";
    h.style.fontWeight = "500";
  });
  const comment = document.querySelector('#comments')
  const deet = document.querySelector("article > details");
  const toc = document.querySelector("details > summary");
  const toch = document.querySelector("#table-of-contents");
  const code = document.querySelector(".astro-code");
  const code1 = document.querySelector(".astro-code > code");
  if (code != null) {
    code.style.borderRadius = "12px";
  }
  if (deet != null) {
    deet.style.marginBottom = "24px";
  }
  if (toc != null) {
    toc.textContent = "Table of contents";
  }
  if (toch != null) {
    toch.style.display = "none";
  }
  if (code1 != null) {
    code1.style.fontFamily = "Roboto mono";
    code1.style.fontSize = "16px";
    code1.style.position = "relative";
    code1.style.top = "-16px";
  }
  if (comment !== null) {
    function callback(entries, observer) {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          document.querySelector('#stt-btn').classList.toggle('hidden');
        } else {
          document.querySelector('#stt-btn').classList.toggle('hidden');
        }
      })
    }
    let observer = new IntersectionObserver(callback);
    observer.observe(comment)
  }
</script>

<style>
  details {
    padding: 4px 8px;
    background-color: #171717;
  }
  .post-title {
    @apply mb-6 text-4xl font-semibold;
  }
  .tags-container {
    @apply my-8;
  }
  img {
    @apply mb-5 rounded-lg;
  }
</style>
